<div class="post">
  <figure class="card code-card">
    <div>
      <h3 style="color: #5a86e4; text-align:center;">{{title}}</h3>
    </div>
    <br>
    <div>
      <p style="text-align:center;">{{content}}</p>
    </div>
    <div style="margin-top:5%;">
      <span>By: {{user.username}}</span>
    </div>
    <br>
    <div style="margin-bottom: 3%;">
      <h7>{{format_date createdAt}}</h7>
    </div>
    <div>
      <div>
        <a style="margin-left: 75%; color: rgb(215, 179, 221);" href="/api/post/{{id}}"></a>
      </div>
      {{!-- {{>commentDetails comments}} --}}
    </div>

  </figure>
</div>