<div class="post">
  <figure class="card code-card">
    <a href="/home/post/{{id}}">{{title}}</a>
    <span>{{user.username}}</span>
    <div>
      <p>{{content}}</p>
    </div>

    <a href="/home/post/{{id}}">{{comments}}</a>

  </figure>
</div>