{{#each postArr as |post|}}
<div data-post="{{post.id}}">
  <div class="column1">
    <figure class="card code-card">
      <div>
        <a style="font-size: 25px;" href="/singlepost/{{post.id}}">{{post.title}}</a>
        <br>
        <p style="margin-bottom: 3%; margin-top: 3%;">{{post.content}}</p>
        <h5>by {{user.username}}</h5>
      </div>
      <br>
      <div style="margin-bottom: 3%;">
        <h7>{{post.createdAt}}</h7>
      </div>
      <div>
        <a style="color: rgb(215, 179, 221) !important; white-space:normal;" href="/newcomment">Add
          Comment</a>
        <a style="color: rgb(215, 179, 221) !important; margin-left: 5%;" href="/comments">View All Comments</a>
      </div>
    </figure>
  </div>

</div>
{{/each}}
<div id="viewAllP" class="allPosts">
  <a href="/all">View All Posts</a>
</div>