{{#each postArr as |post|}}
<div class="allPosts" data-post="{{post.id}}">
  <div class="column1">
    <figure class="card code-card">
      <div>
        <a style="font-size: 25px;" href="/singlepost/{{post.id}}">{{post.title}}</a>
        <br>
        <p style="margin-bottom: 3%; margin-top: 3%;">{{post.content}}</p>
        <h5>by {{user.username}}</h5>
      </div>
      <br>
      <div style="margin-bottom: 3%;">
        <h7>{{format_date post.createdAt}}</h7>
      </div>
      <div class="comments-form" id="commentsForm{{post.id}}">
        <h4>Please leave a comment</h4>
        <div class="input-field">
          <textarea style="height: 50px !important; font-size: 10px !important;" class="comment"
            id="comment-{{post.id}}" type="text"></textarea>
        </div>
        <div>
          <input onclick="addComments(
            {{post.id}}
          )" style="margin-left:0; margin-bottom: 3%;" id="comment" type="submit" value="Submit"
            class="submit"></input>
        </div>
      </div>
      <div>
        <a style="color: rgb(215, 179, 221) !important; white-space:normal;" href="#/"
          onclick="showComments({{post.id}})" id="addcomments">Add
          Comment</a>
      </div>
      <div class="comments-all" id="commentsAll{{post.id}}">
        <div>


          {{>commentDetails comments}}


        </div>
      </div>
      <a style="color: rgb(215, 179, 221) !important;" href="#/" onclick="showAllComments({{post.id}})">View All
        Comments</a>

    </figure>
  </div>

</div>
{{/each}}
<div id="viewAllP" class="allPosts">
  <a href="/all">View All Posts</a>
</div>

<script src="/js/comments.js"></script>