<div class="post" data-post="{{post.id}}">
  <figure class="card code-card">
    <div>
      <h3 style="color: #5a86e4; text-align:center;">{{title}}</h3>
    </div>
    <br>
    <div>
      <p style="text-align:center;">{{content}}</p>
    </div>
    <div>
      <span>By: {{user.username}}</span>
    </div>
    <br>
    <div style="margin-bottom: 3%;">
      <h7>{{format_date createdAt}}</h7>
    </div>
    <div>
      <div>
        <a style="margin-left: 75%; color: rgb(215, 179, 221);" href=" /api/post/{{id}}">{{>commentDetails
          post.comments}}</a>
      </div>
      <div class="comments-form" id="commentsForm{{post.id}}">
        <div class="input-field">
          <textarea style="width: 75% !important; height: 50px !important; font-size: 10px !important;" class="comment"
            id="comments" type="text" id="post-comment"></textarea>
        </div>
        <div>
          <input style="margin-left: 40%; margin-bottom: 3%;" id="comment" type="submit" value="Submit"
            class="submit"></input>
        </div>
        </form>

      </div>
      <div>
        <a style="color: rgb(215, 179, 221) !important; white-space:normal;" href="#"
          onclick="showComments({{post.id}})" id="addcomments">Add
          Comment</a>
      </div>
      <div class="comments-all" id="commentsAll{{post.id}}">
        <div>
          <h4>{{>commentDetails comments}}</h4>
        </div>
      </div>
      <a style="color: rgb(215, 179, 221) !important;" href="#" onclick="showAllComments({{post.id}})">View All
        Comments</a>
  </figure>
</div>